.root {
  --grid-columns: unset;
  --grid-rows: unset;
  --gap: unset;

  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  gap: var(--gap);
}
